<!-- AdSense 广告容器 -->
<!--
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3925981084585036"
     data-ad-slot="4806125422"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
-->

<!-- 使用 JavaScript 实现懒加载 -->
<!--
<script>
document.addEventListener("DOMContentLoaded", function() {
  var adsObserver = new IntersectionObserver(function(entries) {
    if (entries[0].isIntersecting) {
      // 动态加载 AdSense 脚本
      var script = document.createElement('script');
      script.async = true;
      script.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3925981084585036";
      script.crossorigin = "anonymous";
      script.onload = function() {
        // 脚本加载完成后推送广告
        (adsbygoogle = window.adsbygoogle || []).push({});
      };
      document.body.appendChild(script);

      // 断开观察，避免重复加载
      adsObserver.disconnect();
    }
  }, { threshold: [0.1] });

  // 开始观察广告容器
  adsObserver.observe(document.querySelector('.adsbygoogle'));
});
</script>
-->



<img loading="lazy" src="/img/wechat-qr.webp" alt="公众号二维码">

<!-- 引入 iDisqus 的样式表 -->
<!--
<link rel="stylesheet" href="{{ "css/iDisqus.min.css" | absURL }}" />
-->

<!-- 设置评论区的容器 -->
<div id="comment"></div>



<!-- 使用 JavaScript 实现懒加载 -->
<script>
// 当文档加载完成后，执行以下函数
document.addEventListener("DOMContentLoaded", function() {
  var iDisqusScriptSrc = "/js/iDisqus.min.js";
  // 创建一个新的 IntersectionObserver 对象
  // 这个对象用于当某个元素进入视窗时触发回调函数
  var commentObserver = new IntersectionObserver(function(entries) {
    // 检查观察的元素是否进入视窗
    if (entries[0].isIntersecting) {
      // 动态加载 iDisqus 的样式表
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = "/css/iDisqus.min.css";
      document.head.appendChild(link);

      // 动态加载 iDisqus 脚本
      var script = document.createElement('script');
      script.src = iDisqusScriptSrc;
      script.onload = function() {
        // 脚本加载完成后初始化 iDisqus
        var disq = new iDisqus('comment', {
          forum: 'fuckcloudnative',
          api: 'https://disqus.icloudnative.io',
          site: 'https://icloudnative.io',
          emojiPath: 'https://jsdelivr.icloudnative.io/gh/yangchuansheng/imghosting@master/emoji/',
          mode: 2,
          timeout: 15,
          init: true
        });
      };
      document.body.appendChild(script);
      // 评论区加载后，断开 IntersectionObserver 的连接
      // 以避免重复执行初始化操作
      commentObserver.disconnect();
    }
  }, { threshold: [0.1] }); // 设置观察者的触发条件，0.1 表示元素有10%进入视窗时触发

  // 开始观察 id 为 'comment' 的元素
  // 当这个元素即将出现在视窗中时，IntersectionObserver 会触发
  commentObserver.observe(document.getElementById("comment"));
});
</script>