<!-- LXGW WenKai Screen version -->
<link rel="stylesheet" href="https://jsd.onmicrosoft.cn/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css" />

<!-- Google Font JetBrains Mono -->
<!--
<link rel="preconnect" href="https://use.sevencdn.com">
<link rel="preconnect" href="https://gstatic.loli.net" crossorigin>
<link href="https://fonts.loli.net/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
-->


<!-- fps id geo-location -->

<div id="fps" style="z-index:999;position:fixed;bottom:3px;right:3px;color:#FFF;font-size:10px;"></div>

<!--<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.3/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.staticfile.org/jquery/2.2.0/jquery.min.js"></script>-->

<!--web 弹窗弹层组件 -->

<script type="text/javascript" src="https://cdn.staticfile.org/layer/3.5.1/layer.min.js"></script>

<!-- fps 函数组件 弹窗信息在fps.js文件里修改-->

<script type="text/javascript" src="{{ "js/fps.js" | absURL }}"></script>

<!-- end -->


<!-- start webpushr tracking code --> 
<script>(function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.async=1;js.src = "https://cdn.webpushr.com/app.min.js";
fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));
webpushr('setup',{'key':'BHIaDYldZcXlQt38kYXgH48NQZFQkowuo14rNhiIvrGEP5kFU5lb5h-VIMlUkjy-kxygxW4hEvb6GjijlYYlwCk' });</script>
<!-- end webpushr tracking code -->

<!-- umami -->
<script async src="https://umami.icloudnative.io/oishii" data-website-id="f415abb1-1cb9-402e-a1c4-225ca9d792b0"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://eezgfvhagnzs.cloud.sealos.io/gtag/js?id=G-0VHVXWXJMQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-0VHVXWXJMQ');
</script>

<!--顶部阅读进度条-->
<div class="top-scroll-bar" style="height: 5px; background-color: blue; width: 0; position: fixed; top: 0; z-index: 100;"></div>
<script type="text/javascript">
$(document).ready(function () {
  $(window).scroll(function(){
    $(".top-scroll-bar").attr("style", "width: " + ($(this).scrollTop() / ($(document).height() - $(this).height()) * 100) + "%; display: block;");
  });
})
</script>


<!-- instant.page 预加载 -->
<script src="https://jsd.onmicrosoft.cn/gh/instantpage/instant.page@master/instantpage.js" type="module"></script>